@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Courgette', cursive;
}

/* Navbar Section */

.navbar {
    
    display: flex;
    justify-content: space-between;
    margin: 15px 80px;
    align-items: center;
    font-size: 19px;
}

.navMidItems {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.navMidItems .item {
    padding: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

/* Background */

.background {
    background: url('./ASSETS/Background.jpg') no-repeat center center/cover;
    height: 300px;
    border-radius: 60px;
    /* margin: 60px 80px; */
    text-align: center;
    position: absolute;
    top: 150px;
    left: 90px;
    right: 90px;
    z-index: -1;
}

.heading {
    padding-top: 35px;
    font-size: 40px;
    color: white;
}

/* Card tile section */

.cardTileContainer {
    border: 1px solid black;
    border-radius: 60px;
    padding: 40px 30px 20px 30px;
    margin: 0 130px;
    background-color: white;
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carouselSec {
    width: 60%;
}

.discriptionSec {
    text-align: center;
    width: 280px;
    max-height: 400px;
}

.title {
    font-size: 38px;
}

.disPrice {
    font-size: 22px;
}

.price {
    text-decoration: line-through;
}

.discount {
    font-size: 22px;
    color: #00da11;
    margin-left: 40px;
}

.cardDisc {
    color: #8b7b87;
    margin: 40px 10px 40px 20px;
    text-align: left;
    font-size: 15px;
}

.discriptionSec .btn {
    width: 100%;
    padding: 15px 30px;
    border-radius: 18px;
    font-size: 22px;
}

/* Bottom section */

.bottomContainer {
    margin: 20px 130px;
    text-align: center;
}

.bottomHeading {
    font-size: 38px;
}

.items {
    border: 1px solid black;
    border-radius: 60px;
    padding: 40px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.item {
    text-align: center;
}

.round {
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 0 5px 40px #ededed inset;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
}

.item .itemDisc{
    font-size: 19px;

}

/* Swiper section CSS */
  
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
    display: block;
    width: 220px;
    height: 310px;
    border: 1px solid black;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
}

.swiper-pagination-bullet{
    opacity: 1;
    background-color: grey;
}

.swiper-pagination-bullet-active {
    border-radius: 10px;
    width: 50px;
    background-color: rgb(67, 66, 66);
}
        

